USE [master]
GO
/****** Object:  Database [ElementDB]    Script Date: 03/31/2020 00:00:40 ******/
CREATE DATABASE [ElementDB] ON  PRIMARY 
( NAME = N'ElementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\ElementDB.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ElementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\ElementDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ElementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ElementDB]
GO
/****** Object:  Table [dbo].[Redirect_url]    Script Date: 03/31/2020 00:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Redirect_url](
	[id_testcase] [nvarchar](50) NOT NULL,
	[current_url] [nvarchar](max) NOT NULL,
	[redirect_url_test] [nvarchar](max) NULL,
 CONSTRAINT [PK_Redirect_url] PRIMARY KEY CLUSTERED 
(
	[id_testcase] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Url]    Script Date: 03/31/2020 00:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Url](
	[id_url] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[url] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Url] PRIMARY KEY CLUSTERED 
(
	[id_url] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test_case]    Script Date: 03/31/2020 00:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test_case](
	[id_testcase] [nvarchar](50) NOT NULL,
	[id_url] [int] NOT NULL,
	[result] [int] NULL,
	[is_test] [bit] NULL,
 CONSTRAINT [PK_Test_case] PRIMARY KEY CLUSTERED 
(
	[id_testcase] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Select_tag]    Script Date: 03/31/2020 00:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Select_tag](
	[id_select] [nvarchar](50) NOT NULL,
	[id_form] [nvarchar](50) NULL,
	[id_url] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[xpath] [nvarchar](max) NULL,
 CONSTRAINT [PK_Select_tag] PRIMARY KEY CLUSTERED 
(
	[id_select] ASC,
	[id_url] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Button_tag]    Script Date: 03/31/2020 00:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Button_tag](
	[id_button] [nvarchar](50) NOT NULL,
	[type] [nvarchar](10) NOT NULL,
	[name] [nvarchar](50) NULL,
	[value] [nvarchar](50) NULL,
	[id_form] [nvarchar](50) NULL,
	[id_url] [int] NOT NULL,
	[xpath] [nvarchar](max) NULL,
 CONSTRAINT [PK_Button_tag] PRIMARY KEY CLUSTERED 
(
	[id_button] ASC,
	[id_url] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_tag]    Script Date: 03/31/2020 00:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_tag](
	[id_a_tag] [nvarchar](50) NOT NULL,
	[href] [nvarchar](max) NOT NULL,
	[id_url] [int] NOT NULL,
	[title] [nvarchar](max) NULL,
	[text_value] [nvarchar](max) NULL,
	[xpath] [nvarchar](max) NULL,
 CONSTRAINT [PK_A_tag] PRIMARY KEY CLUSTERED 
(
	[id_a_tag] ASC,
	[id_url] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Input_elements]    Script Date: 03/31/2020 00:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Input_elements](
	[id_input] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NULL,
	[class_name] [nvarchar](50) NULL,
	[type] [nvarchar](50) NOT NULL,
	[value] [nvarchar](50) NULL,
	[id_form] [nvarchar](50) NOT NULL,
	[minlength] [int] NULL,
	[maxlength] [int] NULL,
	[required] [bit] NULL,
	[readonly] [bit] NULL,
	[max] [real] NULL,
	[min] [real] NULL,
	[multiple] [bit] NULL,
	[xpath] [nvarchar](max) NULL,
	[id_url] [int] NOT NULL,
 CONSTRAINT [PK_Input_elements_1] PRIMARY KEY CLUSTERED 
(
	[id_input] ASC,
	[id_url] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Form_elements]    Script Date: 03/31/2020 00:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Form_elements](
	[id_form] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NULL,
	[id_url] [int] NOT NULL,
	[xpath] [nvarchar](max) NULL,
 CONSTRAINT [PK_Form_elements] PRIMARY KEY CLUSTERED 
(
	[id_form] ASC,
	[id_url] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Input_testcase]    Script Date: 03/31/2020 00:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Input_testcase](
	[id_testcase] [nvarchar](50) NOT NULL,
	[id_element] [nvarchar](50) NOT NULL,
	[xpath] [nvarchar](max) NULL,
	[value] [nvarchar](max) NULL,
	[action] [nvarchar](50) NULL,
 CONSTRAINT [PK_Input_testcase] PRIMARY KEY CLUSTERED 
(
	[id_testcase] ASC,
	[id_element] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Element_test]    Script Date: 03/31/2020 00:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Element_test](
	[id_testcase] [nvarchar](50) NOT NULL,
	[id_element] [int] IDENTITY(1,1) NOT NULL,
	[xpath] [nvarchar](50) NOT NULL,
	[xpath_full] [nvarchar](max) NULL,
	[value] [nvarchar](max) NULL,
	[value_test] [nvarchar](max) NOT NULL,
	[class_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Element_test] PRIMARY KEY CLUSTERED 
(
	[id_testcase] ASC,
	[id_element] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_Test_case_Redirect_url]    Script Date: 03/31/2020 00:00:41 ******/
ALTER TABLE [dbo].[Test_case]  WITH CHECK ADD  CONSTRAINT [FK_Test_case_Redirect_url] FOREIGN KEY([id_testcase])
REFERENCES [dbo].[Redirect_url] ([id_testcase])
GO
ALTER TABLE [dbo].[Test_case] CHECK CONSTRAINT [FK_Test_case_Redirect_url]
GO
/****** Object:  ForeignKey [FK_Test_case_Url]    Script Date: 03/31/2020 00:00:41 ******/
ALTER TABLE [dbo].[Test_case]  WITH CHECK ADD  CONSTRAINT [FK_Test_case_Url] FOREIGN KEY([id_url])
REFERENCES [dbo].[Url] ([id_url])
GO
ALTER TABLE [dbo].[Test_case] CHECK CONSTRAINT [FK_Test_case_Url]
GO
/****** Object:  ForeignKey [FK_Select_tag_Url]    Script Date: 03/31/2020 00:00:41 ******/
ALTER TABLE [dbo].[Select_tag]  WITH CHECK ADD  CONSTRAINT [FK_Select_tag_Url] FOREIGN KEY([id_url])
REFERENCES [dbo].[Url] ([id_url])
GO
ALTER TABLE [dbo].[Select_tag] CHECK CONSTRAINT [FK_Select_tag_Url]
GO
/****** Object:  ForeignKey [FK_Button_tag_Url]    Script Date: 03/31/2020 00:00:41 ******/
ALTER TABLE [dbo].[Button_tag]  WITH CHECK ADD  CONSTRAINT [FK_Button_tag_Url] FOREIGN KEY([id_url])
REFERENCES [dbo].[Url] ([id_url])
GO
ALTER TABLE [dbo].[Button_tag] CHECK CONSTRAINT [FK_Button_tag_Url]
GO
/****** Object:  ForeignKey [FK_A_tag_Url]    Script Date: 03/31/2020 00:00:41 ******/
ALTER TABLE [dbo].[A_tag]  WITH CHECK ADD  CONSTRAINT [FK_A_tag_Url] FOREIGN KEY([id_url])
REFERENCES [dbo].[Url] ([id_url])
GO
ALTER TABLE [dbo].[A_tag] CHECK CONSTRAINT [FK_A_tag_Url]
GO
/****** Object:  ForeignKey [FK_Input_elements_Url]    Script Date: 03/31/2020 00:00:41 ******/
ALTER TABLE [dbo].[Input_elements]  WITH CHECK ADD  CONSTRAINT [FK_Input_elements_Url] FOREIGN KEY([id_url])
REFERENCES [dbo].[Url] ([id_url])
GO
ALTER TABLE [dbo].[Input_elements] CHECK CONSTRAINT [FK_Input_elements_Url]
GO
/****** Object:  ForeignKey [FK_Form_elements_Url]    Script Date: 03/31/2020 00:00:41 ******/
ALTER TABLE [dbo].[Form_elements]  WITH CHECK ADD  CONSTRAINT [FK_Form_elements_Url] FOREIGN KEY([id_url])
REFERENCES [dbo].[Url] ([id_url])
GO
ALTER TABLE [dbo].[Form_elements] CHECK CONSTRAINT [FK_Form_elements_Url]
GO
/****** Object:  ForeignKey [FK_Input_testcase_Test_case]    Script Date: 03/31/2020 00:00:41 ******/
ALTER TABLE [dbo].[Input_testcase]  WITH CHECK ADD  CONSTRAINT [FK_Input_testcase_Test_case] FOREIGN KEY([id_testcase])
REFERENCES [dbo].[Test_case] ([id_testcase])
GO
ALTER TABLE [dbo].[Input_testcase] CHECK CONSTRAINT [FK_Input_testcase_Test_case]
GO
/****** Object:  ForeignKey [FK_Element_test_Test_case]    Script Date: 03/31/2020 00:00:41 ******/
ALTER TABLE [dbo].[Element_test]  WITH CHECK ADD  CONSTRAINT [FK_Element_test_Test_case] FOREIGN KEY([id_testcase])
REFERENCES [dbo].[Test_case] ([id_testcase])
GO
ALTER TABLE [dbo].[Element_test] CHECK CONSTRAINT [FK_Element_test_Test_case]
GO
