@model Generate_TestCase_Selenium_Web.Models.ModelDB.Running_process

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<h1>Create</h1>

<h4>Running_process</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_process" class="control-label"></label>
                <input asp-for="id_process" class="form-control" />
                <span asp-validation-for="id_process" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_schedule" class="control-label"></label>
                <select asp-for="id_schedule" class ="form-control" asp-items="ViewBag.id_schedule"></select>
            </div>
            <div class="form-group">
                <label asp-for="id_user" class="control-label"></label>
                <select asp-for="id_user" class ="form-control" asp-items="ViewBag.id_user"></select>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="start_time" class="control-label"></label>
                <input asp-for="start_time" class="form-control" />
                <span asp-validation-for="start_time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="end_time" class="control-label"></label>
                <input asp-for="end_time" class="form-control" />
                <span asp-validation-for="end_time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="message" class="control-label"></label>
                <input asp-for="message" class="form-control" />
                <span asp-validation-for="message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

